<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/admin.css" />
        <title>Teletyper</title>
    </head>
    <body>
        <div id="wrap">
            <div id="uwrap">
                <button id="ubutton" onclick="">Users</button>
                <table>
                    <tbody>
                    <tr>
                        <td>Username</td>
                        <td>Date_reg</td>
                    </tr>
                    </tbody>
                </table>
                <table>
                    <tbody id="utbody"></tbody>
                </table>
                <button id="rem_ubutton">Remove selected users</button>
            </div>
            <div id="cwrap">
                <button id="cbutton">Comments</button>
                <table>
                    <tbody>
                    <tr>
                        <td>Room</td>
                        <td>From</td>
                        <td>Text</td>
                        <td>Time</td>
                    </tr>
                    </tbody>
                </table>
                <table>
                    <tbody id="ctbody"></tbody>
                </table>
                <button id="rem_cbutton">Remove selected comments</button>
            </div>
            <div id="swrap">
                <table>
                    <tbody>
                    <tr>
                        <td>ip</td>
                        <td>username</td>
                    </tr>
                    </tbody>
                </table>
                <table>
                    <tbody id="stbody"></tbody>
                </table>
                <button id="rem_sbutton">Kill selected socket connections</button>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/public/javascripts/socket.io.js"></script>
        <script type="text/javascript" src="/public/javascripts/admin_functions.js"></script>
    </body>
</html>
