<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Client for free commenting" />
    <meta name="keywords" content="Teletyper, TTyper" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/window.css" />
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/gkehclemecjogfaeioomdinphhljabpk">
    <title>Teletyper</title>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54549083-1', 'auto');
      ga('send', 'pageview');
    </script>

</head>
<body>


     <div id="tt_auth_wrap">
         <div id="tt_auth_close_button">Закрыть</div>
         <div id="tt_auth_reg_forms">
            <div class="tt_label">Войти</div>
            <div>
                <form action method="post" autocomplete="off" id="tt_auth_form">
                    <input id="tt_auth_username" name="tt_username" value="" type="text" placeholder="Логин"/>
                    <input id="tt_auth_password" name="tt_password" value="" type="password" placeholder="Пароль"/>
                    <input type="submit" id="tt_auth_send_button" value="Отправить"/>
                </form>
                <div id="tt_auth_form_notification"></div>
            </div>
            <div class="tt_label">Зарегистрироваться</div>
            <div>
                <form action method="post" autocomplete="off" id="tt_reg_form">
                    <input id="tt_reg_username" name="tt_username" value="" type="text" placeholder="Логин"/>
                    <input id="tt_reg_password1" name="tt_password1" value="" type="password" placeholder="Пароль"/>
                    <input id="tt_reg_password2" name="tt_password2" value="" type="password" placeholder="Повторите пароль"/>
                    <input type="submit" id="tt_reg_send_button" value="Отправить"/>
                </form>
                <div id="tt_reg_form_notification"></div>
            </div>
        </div>
    </div>

    <div id="tt_wrap">
        <div id="tt_header">
            <div id="tt_comment_notification"></div>
            <div id="tt_greeting"></div>
            <div id="tt_minimize_button"></div>
            <div id="tt_restore_button"></div>
        </div>
        <div id="tt_main">
            <div id="tt_spam_button">Пожаловаться</div>
            <div id="tt_response_button">Ответить</div>
            <div class="tt_scrollbar">
                <div class="tt_track">
                    <div class="tt_thumb">
                        <div class="tt_end">
                            </div>
                        </div>
                    </div>
                </div>
            <div class="tt_viewport">
                <div class="tt_overview"></div>
                <div id="tt_info_bar"></div>
            </div>
        </div>
        <div id="tt_response_to_block"></div>
        <div id="tt_send" contenteditable="true"></div>
        <div id="tt_footer">
            <div id="tt_anonym_label">Анонимно</div><input type="checkbox" id="tt_anonym_checkbox"/>
            <div id="tt_live_label">Live</div><input type="checkbox" id="tt_live_checkbox" checked/>
            <div id="tt_in_out">Войти</div>
        </div>
    </div>

    <div id="header">
        <div id="logo"></div>
        <div id="header_text">
            <span>Teletyper</span> beta
        </div>
    </div>
    <div class="clear"></div>
    <div id="main">
        <p><span>Teletyper</span> - расширение для браузеров, позволяющее оставлять свои комментарии
            и читать комментарии других пользователей на любых интернет-страницах</p>

        <div class="list">
            <p><span>Несколько причин установить Teletyper:</span></p>
            <ul>
                <li>Вам больше не придется тратить время на бесконечные регистрации/авторизации
                    ради одного комментария на каком-либо сайте</li>
                <li>Никакой премодерации: никто не скроет Ваш комментарий от глаз других пользователей</li>
                <li>Вы сможете оставлять комментарии даже на тех сайтах, на которых это технически невозможно.
                    Также это удобно для владельцев простых сайтов: нет необходимости настраивать и поддерживать
                    собственную систему комментирования</li>
                <li>Столкнулись с мошенником в интернете? Оставьте на его странице предупреждение для других людей</li>
                <li>Хотите задать анонимный вопрос конкретному человеку? Сделайте это на странице его профиля в социальной сети,
                    используя Teletyper</li>
            </ul>
        </div>

        <div class="list">
            <p><span>Мы гарантируем:</span></p>
            <ul>
                <li>соблюдение Ваших прав на свободу слова и свободу выражения мнения,
                    ограниченных лишь нормами морали и статьями закона</li>
                <li>полную конфиденциальность. Расширение не собирает никакую информацию, позволяющую идентифицировать пользователя</li>
            </ul>
        </div>

        <div id="check_browser">
            <p>Доступно для Google Chrome, Яндекс.Браузер</p>
        </div>
        <div id="install_button" onclick="chrome.webstore.install
        ('https://chrome.google.com/webstore/detail/gkehclemecjogfaeioomdinphhljabpk',
        function(){alert('Установка завершена. Теперь необходимо перезагрузить браузер');})"><p>Установить</p>
        </div>
        <div id="writeMe"></div>
    </div>
    <div id="footer">
        <div id="year">2014-2015</div>
    </div>

     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
     <script type="text/javascript" src="/public/javascripts/socket.io.js"></script>
     <script type="text/javascript" src="/public/javascripts/tinyscrollbar.js"></script>
     <script type="text/javascript" src="/public/javascripts/bg.js"></script>

</body>
</html>
